<div class="versions">
    <input type="text" class="form-control" [(ngModel)]="first_version">
    <input type="text" class="form-control" [(ngModel)]="last_version">
    <label for="pathSelect">Physical Path:</label>
    <select class="form-control" id="pathSelect" [(ngModel)]="branch">
        <option *ngFor="let branch of branches" [value]="branch">{{ branch }}</option>
    </select>
    
    <div class="form-group">
        <button type="button" class="btn btn-primary" [disabled]="isRequesting" [ngStyle]="{'opacity': isRequesting ? '0.5' : '1', 'cursor': isRequesting ? 'not-allowed' : 'pointer'}" (click)="sendPostRequest()">Run</button>
      </div>
</div>