.toggle:before {
    background-color: rgba(124, 137, 255, 0.999);
    color: #f5f5f5;
    display: block;
    width: max-content;
    min-height: 2rem;
    text-align: center;
    padding: auto;

    font-size: 1rem;
    font-family: 'RobotoSlab', sans-serif;    
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    min-height: 2rem;
    padding: 0px 15px;
    text-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
    background: rgba(124, 137, 255, 0.999);
    transition: all 0.5s ease 0s;
}

.toggle:hover:before {
    box-shadow: rgba(124, 137, 255, 0.999) 0px 1px 20px;
    transition: all 0.1s ease 0s;
}

.toggle:checked:before {
    content: attr(data-tg-on);
}

.toggle::before {
    content: attr(data-tg-off);
}






.element {
    display: flex;
}

// .version_control label {
//     margin-right: 1rem
// }
.column {
    margin-right: 1rem;
    width: max-content;
}
.column:last-child {
    margin-right: 0rem;
}

.row {
    display: flex;
    margin-bottom: 0.5rem;
}

.row:last-child {
    margin-bottom: 0rem;
}