<div class="form_field">
    <label for="first_version">First version:</label>
    <input type="text" class="input" [(ngModel)]="first_version">
</div>

<div class="form_field">
    <label for="last_version">Last version:</label>
    <input type="text" class="input" [(ngModel)]="last_version">
</div>

<div class="form_field">
    <label for="branch">Branch:</label>
    <select class="input" id="pathSelect" [(ngModel)]="branch">
        <option *ngFor="let branch of branches" [value]="branch">{{ branch }}</option>
    </select>
</div>
    
<div class="form_field">
    <button type="button" class="button" [disabled]="isRequesting" [ngStyle]="{'opacity': isRequesting ? '0.5' : '1', 'cursor': isRequesting ? 'not-allowed' : 'pointer'}" (click)="sendPostRequest()">Run</button>
</div>