nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(34deg, rgb(34, 34, 34) 0%,rgb(43, 43, 43) 100%);
    color: #fff;
    padding: 1rem;
    box-shadow: #555 0px 0px 15px;
  
    a {
      color: #fff;
      text-decoration: none;
      padding: 0.5rem;
      transition: all 0.2s;
  
      &:hover {
        color:rgba(124, 137, 255, 0.999);
        text-shadow: #ffffff59 1px 1px 5px;
        // background-color: #555;
      }
  
      &.active {
        color:rgba(124, 137, 255, 0.999);
        // background-color: #555;
      }
    }
  }
  